In [116]:
% pip install openai == 0.28
% pip install tiktoken
% pip install tqdm
% pip install matplotlib
% pip install sympy

UsageError: Line magic function `%` not found.

In [56]:
import numpy as np
import openai
import tiktoken
from tqdm.auto import trange, tqdm
import time
import os
import json
from tqdm import tqdm
import re
from types import NoneType
import multiprocessing.dummy
from io import StringIO
from contextlib import redirect_stdout
import signal
from contextlib import contextmanager
import matplotlib.pyplot as plt
import sys
import ast
import copy

c:\Users\shuni\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [57]:
import pandas as pd
from IPython.display import display_latex

## LLM Setup

In [359]:
# OPENAI_API_KEY = "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"
OPENAI_API_KEY = "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" #my key: Workshop Key

In [373]:
# Code generating prompts
system_prompt = """
You are a helpful code assistant. 
You have knowledge of math. 
You can provide code solutions to math problems. 
Your language of choice is Python, you can use public python libraries. 
Do not use sympy. 
Don't explain the code, just generate the code block itself.
"""
my_prompt = """
Provide good python code to solve the following problem: {problem}, no need to implement it. 
The code should save the answer as a variable called 'result'.
Each test answer should be a number—either an integer or finite decimal float with "." as a separator.
Correct format examples:
4231
-12
0.75
Incorrect format examples:
4 2 3 1
-12.0
0,2
12/35
"""

In [393]:
# Chain of thought
CoT_system_prompt = """
You are a helpful assistanst with general knowledge and knowledge of math and geometry.
"""
CoT_prompt = """
Solve the following problem: {problem_text}
"""

In [375]:
extract_answer_prompt = """Task:
{problem_text}
Solution:
{solution}
Extract the answer according to the task, output the answer value ONLY. 
Each test answer should be a number—either an integer or finite decimal float with "." as a separator.
Correct format examples:
4231
-12
0.75
Incorrect format examples:
4 2 3 1
-12.0
0,2
12/35
"""

In [325]:
from langchain.prompts import ChatPromptTemplate

prompt = ChatPromptTemplate.from_messages([
    ("system", system_prompt),
    ("user", my_prompt),
])

In [394]:
chain_of_thought_prompt = ChatPromptTemplate.from_messages([
    ("system", CoT_system_prompt),
    ("user", CoT_prompt),
])

In [331]:
prompt_extract = ChatPromptTemplate.from_messages([
    ("system", """"""),
    ("user", extract_answer_prompt),
])

In [360]:
from langchain.chat_models import ChatOpenAI

llm = ChatOpenAI(openai_api_key=OPENAI_API_KEY, model="gpt-4-1106-preview")

In [361]:
from langchain_core.output_parsers import StrOutputParser

output_parser = StrOutputParser()

chain_solution = prompt | llm | output_parser

In [362]:
CoT_solution = chain_of_thought_prompt | llm | output_parser

In [356]:
chain_extract = prompt_extract | llm | output_parser

## Helper Functions

In [363]:
def generate_code_llm(problem_text, new_code_col, chain_solution=chain_solution):
    new_code = chain_solution.invoke({
        "problem": problem_text
    })
    return new_code_col, new_code

In [395]:
def get_answer_llm(problem_text, chain_solution=CoT_solution, chain_extract=chain_extract):
    solution = chain_solution.invoke({
        "problem_text": problem_text
    })
    answer = chain_extract.invoke({
        "problem_text": problem_text,
        "solution": solution,
    })
    return pd.Series({'final_answer': answer, 'solution': solution})

In [281]:
def run_python_code(input_code):
    """
    Execute Python code provided as input and return the result.

    Parameters:
    - input_code (str): The Python code to be executed, enclosed in triple-backticks (```python ... ```).

    Returns:
    - result: The result of executing the provided Python code.
      If the code runs successfully, returns the value of the 'result' variable from the code execution.
      If an error occurs during execution, returns an error message.
    """
    
    # Remove the leading and trailing marks
    code_to_run = input_code[len("```python\n"):-len("\n```")]

    # Execute the Python code
    try:
        # Create a namespace for the code to run in
        namespace = {}
        # Execute the code in the namespace
        exec(code_to_run, namespace)
        # Retrieve the result
        result = namespace.get('result', None)
        return result
    except Exception as e:
        return f"Error: {str(e)}"

In [282]:
def to_ints(data):
    """
    Attempt to convert a string to an integer or a rounded float.

    Parameters:
    - data (str): The input string to be converted.

    Returns:
    - result: If successful, returns the converted integer or rounded float as a string.
      If unsuccessful, returns pandas NA (missing value indicator).
    """
    try:
        # Attempt to convert the string to a float
        float_value = float(data)
        float_value = round(float_value, 2)
        if float_value == float('nan'):
            return pd.NA
        
        # Check if the float has a ".0" decimal part
        if float_value.is_integer():
            return str(int(float_value))
        else:
            return str(float_value)
    except ValueError:
        # If conversion to float fails, return the original string
        return pd.NA

In [319]:
def add_strong_majority_column(df, cols):
  """
  Adds a column named 'strong_majority' to the DataFrame 'df'.
  The column indicates whether the mode of the specified columns 'cols' 
  repeats more than 3 times in each row, using explicit iteration.

  Args:
      df: The DataFrame to process.
      cols: A list of column names to consider for finding the mode.

  Returns:
      The DataFrame with the added 'strong_majority' column.
  """
  df['strong_majority'] = None
  for index, row in df.iterrows():
    mode_counts = row[cols].value_counts()
    strong_majority = mode_counts.max() > 3 if not mode_counts.empty else False
    df.loc[index, 'strong_majority'] = strong_majority
  return df


def add_many_answers_column(df, cols):
  """
  Adds a column named 'many_answers' to the DataFrame 'df'.
  The column indicates whether any of the specified columns 'cols' have 
  more than 2 unique values.

  Args:
      df: The DataFrame to process.
      cols: A list of column names to consider.

  Returns:
      The DataFrame with the added 'many_answers' column.
  """
  df['many_answers'] = df[cols].apply(lambda row: len(row.unique()) > 2, axis=1)
  return df

## run for all train - 5 iterations

In [ ]:
train = pd.read_csv('train_with_translation.csv')

Generate python code to solve the problems using our model. Repeat 5 times and save each result.

In [85]:
from langchain.callbacks import get_openai_callback
from tqdm.auto import tqdm

tqdm.pandas()

with get_openai_callback() as cb:
    # Generate values for 'new_code_{i}' columns
    for i in range(1, 6):
        new_code_col = f'new_code_{i}'
        train[new_code_col] = None
        missing_values_mask = train[new_code_col].isna()
        print(f"Generating values for {new_code_col}...")
        
        train.loc[missing_values_mask, [new_code_col]] = (
            train.loc[missing_values_mask, 'translation'].progress_apply(
                lambda x: generate_code_llm(x, new_code_col)[1]
            )
        )
        
        # Debugging: Print the generated values
        print(train.loc[missing_values_mask, [new_code_col]])

    print(cb)

Generating values for new_code_2...

100%|██████████| 100/100 [12:02<00:00,  7.23s/it]

                                           new_code_2
0      ```python\nresult = (17/5) / (34/3) + 1.3\n```
1   ```python\n# Total number of people\ntotal_peo...
2   ```python\nwinter_accidents = 100  # Assuming ...
3   ```python\nresult = (2**(-5) * 2**9) / 2**(-4)...
4   ```python\nroutes = {\n    1: {'cities': {'Suz...
..                                                ...
95  ```python\n# Given number of students studying...
96  ```python\n# Given values\nnumber_of_technical...
97  ```python\n# Probability that a pen writes poo...
98  ```python\n# Define the expression components\...
99  ```python\nfrom scipy.optimize import root_sca...

[100 rows x 1 columns]
Generating values for new_code_3...

100%|██████████| 100/100 [11:05<00:00,  6.65s/it]

                                           new_code_3
0      ```python\nresult = (17/5) / (34/3) + 1.3\n```
1   ```python\n# Total number of people in the com...
2   ```python\nwinter_accidents = 100  # Assuming ...
3     ```python\nresult = (2**-5 * 2**9) / 2**-4\n```
4   ```python\nfrom itertools import combinations\...
..                                                ...
95  ```python\n# Number of students studying Frenc...
96  ```python\n# Given values\nnumber_of_technical...
97  ```python\n# Probability that a pen writes poo...
98  ```python\n# Calculate the value of the expres...
99  ```python\nfrom scipy.optimize import root_sca...

[100 rows x 1 columns]
Generating values for new_code_4...

100%|██████████| 100/100 [10:40<00:00,  6.40s/it]

                                           new_code_4
0   ```python\nresult = (17 / 5) / (34 / 3) + 1.3\...
1   ```python\n# Total number of people in the com...
2   ```python\nwinter_RTAs = 1  # Representing 100...
3   ```python\nresult = (2**(-5) * 2**9) / 2**(-4)...
4   ```python\nroutes = {\n    1: {"cities": {"Suz...
..                                                ...
95  ```python\nfrench_students = 77\npercentage = ...
96  ```python\n# Given values\nnumber_of_technical...
97  ```python\n# Probability that a pen writes poo...
98  ```python\nmixed_fraction = 2 + 5/14\nwhole_nu...
99  ```python\nfrom scipy.optimize import fsolve\n...

[100 rows x 1 columns]
Generating values for new_code_5...

100%|██████████| 100/100 [11:00<00:00,  6.61s/it]

                                           new_code_5
0   ```python\nresult = (17 / 5) / (34 / 3) + 1.3\...
1   ```python\ntotal_people = 30\nuse_odnoklassnik...
2   ```python\n# Percentage of RTAs in summer comp...
3   ```python\nresult = (2**(-5)) * (2**9) / (2**(...
4   ```python\nfrom itertools import combinations\...
..                                                ...
95  ```python\n# Given data\nstudents_studying_fre...
96  ```python\n# Given values\nnumber_of_technical...
97  ```python\n# Probability that a pen writes poo...
98  ```python\n# Calculate the value of the expres...
99  ```python\nfrom scipy.optimize import root_sca...

[100 rows x 1 columns]
Tokens Used: 145854
	Prompt Tokens: 101184
	Completion Tokens: 44670
Successful Requests: 400
Total Cost (USD): $2.351940000000002

In [316]:
train

,problem_id,problem_text,answer,hint,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,new_code,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,count_same_values
0,2374,Найдите значение выражения $\dfrac{17}{5} :\df...,1.6,Десятичную в обыкновенную,Find the value of the expression $\dfrac{17}{5...,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,NaN,1.6,1.6,1.6,1.6,1.6,1.6,True
1,4723,В компании из 30 человек 25 пользуются социаль...,24,Диаграмма Венна,"In a company of 30 people, 25 use the social n...",```python\n# Total number of people in the com...,```python\n# Total number of people\ntotal_peo...,```python\n# Total number of people in the com...,```python\n# Total number of people in the com...,```python\ntotal_people = 30\nuse_odnoklassnik...,NaN,24,24,24,24,24,24,True
2,7135,Число дорожно-транспортных происшествий (ДТП) ...,32,дробь в проценты,The number of road traffic accidents (RTAs) in...,```python\nwinter_accidents = 1 # Assuming 10...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_RTAs = 1 # Representing 100...,```python\n# Percentage of RTAs in summer comp...,NaN,32,32,32,32,32,32,True
3,5814,Найдите значение выражения $\dfrac{2\strut^{-5...,256,свойства степени,Find the value of the expression $\dfrac{2^{-5...,```python\nresult = (2 ** -5) * (2 ** 9) / (2 ...,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**-5 * 2**9) / 2**-4\n```,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**(-5)) * (2**9) / (2**(...,NaN,256,256,256,256,256,256,True
4,9237,Путешественник из Москвы хочет посетить четыре...,53,перебор,A traveler from Moscow wants to visit four cit...,```python\nfrom itertools import combinations\...,```python\nroutes = {\n 1: {'cities': {'Suz...,```python\nfrom itertools import combinations\...,"```python\nroutes = {\n 1: {""cities"": {""Suz...",```python\nfrom itertools import combinations\...,NaN,35,35,35,35,35,35,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7064,"В школе французский язык изучают 77~учащихся, ...",385,число по проценту,"In the school, 77 students study the French la...",```python\nstudents_studying_french = 77\nperc...,```python\n# Given number of students studying...,```python\n# Number of students studying Frenc...,```python\nfrench_students = 77\npercentage = ...,```python\n# Given data\nstudents_studying_fre...,NaN,385,385,385,385,385,385,True
96,7097,Среди всех выпускников школы 10 человек собира...,25,число по проценту,"Among all the school graduates, 10 people are ...",```python\nnumber_of_technical_university_stud...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,NaN,25,25,25,25,25,25,True
97,5448,"Вероятность того, что новая шариковая ручка пи...",0.79,1-Р,The probability that a new ballpoint pen write...,```python\n# Probability that a ballpoint pen ...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,NaN,0.79,0.79,0.79,0.79,0.79,0.79,True
98,2293,Найдите значение выражения $2\dfrac{5}{14} +5+...,8.5,от обыкновенных дробей к десятичным,Find the value of the expression $2\frac{5}{14...,```python\n# Calculate the value of the expres...,```python\n# Define the expression components\...,```python\n# Calculate the value of the expres...,```python\nmixed_fraction = 2 + 5/14\nwhole_nu...,```python\n# Calculate the value of the expres...,NaN,8.5,8.5,8.5,8.5,8.5,8.5,True
99,5261,Найдите корень уравнения $\left(\dfrac{1}{2} \...,5,к основанию 2,Find the root of the equation $\left(\dfrac{1}...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,NaN,5,5,5,5,5,5,True

Run the python code generated and save the answers.

In [237]:
for i in range(1, 6):
    new_code_col = f'new_code_{i}'
    code_ans_col = f'code_ans_{i}'
    train[code_ans_col] = None
    train.loc[train[code_ans_col].isna(), [code_ans_col]] = (
        train.loc[train[code_ans_col].isna(), new_code_col].progress_apply(run_python_code)
    )

  0%|          | 0/100 [00:00<?, ?it/s]

152

100%|██████████| 100/100 [00:05<00:00, 17.93it/s]
100%|██████████| 100/100 [00:00<00:00, 6189.85it/s]
100%|██████████| 100/100 [00:00<00:00, 7022.11it/s]

135

100%|██████████| 100/100 [00:00<00:00, 7456.41it/s]

None

100%|██████████| 100/100 [00:00<00:00, 5108.71it/s]

None
37

In [202]:
train

,problem_id,problem_text,answer,hint,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,new_code,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,count_same_values
0,2374,Найдите значение выражения $\dfrac{17}{5} :\df...,1.6,Десятичную в обыкновенную,Find the value of the expression $\dfrac{17}{5...,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,NaN,1.6,1.6,1.6,1.6,1.6,1.6,True
1,4723,В компании из 30 человек 25 пользуются социаль...,24,Диаграмма Венна,"In a company of 30 people, 25 use the social n...",```python\n# Total number of people in the com...,```python\n# Total number of people\ntotal_peo...,```python\n# Total number of people in the com...,```python\n# Total number of people in the com...,```python\ntotal_people = 30\nuse_odnoklassnik...,NaN,24,24,24,24,24,24,True
2,7135,Число дорожно-транспортных происшествий (ДТП) ...,32,дробь в проценты,The number of road traffic accidents (RTAs) in...,```python\nwinter_accidents = 1 # Assuming 10...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_RTAs = 1 # Representing 100...,```python\n# Percentage of RTAs in summer comp...,NaN,32.0,32.0,32.0,32.0,32,32,True
3,5814,Найдите значение выражения $\dfrac{2\strut^{-5...,256,свойства степени,Find the value of the expression $\dfrac{2^{-5...,```python\nresult = (2 ** -5) * (2 ** 9) / (2 ...,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**-5 * 2**9) / 2**-4\n```,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**(-5)) * (2**9) / (2**(...,NaN,256.0,256.0,256.0,256.0,256.0,256,True
4,9237,Путешественник из Москвы хочет посетить четыре...,53,перебор,A traveler from Moscow wants to visit four cit...,```python\nfrom itertools import combinations\...,```python\nroutes = {\n 1: {'cities': {'Suz...,```python\nfrom itertools import combinations\...,"```python\nroutes = {\n 1: {""cities"": {""Suz...",```python\nfrom itertools import combinations\...,NaN,35,35,35,35,35,35,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7064,"В школе французский язык изучают 77~учащихся, ...",385,число по проценту,"In the school, 77 students study the French la...",```python\nstudents_studying_french = 77\nperc...,```python\n# Given number of students studying...,```python\n# Number of students studying Frenc...,```python\nfrench_students = 77\npercentage = ...,```python\n# Given data\nstudents_studying_fre...,NaN,385.0,385,385,385.0,385.0,385,True
96,7097,Среди всех выпускников школы 10 человек собира...,25,число по проценту,"Among all the school graduates, 10 people are ...",```python\nnumber_of_technical_university_stud...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,NaN,25.0,25,25.0,25.0,25,25,True
97,5448,"Вероятность того, что новая шариковая ручка пи...",0.79,1-Р,The probability that a new ballpoint pen write...,```python\n# Probability that a ballpoint pen ...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,NaN,0.79,0.79,0.79,0.79,0.79,0.79,True
98,2293,Найдите значение выражения $2\dfrac{5}{14} +5+...,8.5,от обыкновенных дробей к десятичным,Find the value of the expression $2\frac{5}{14...,```python\n# Calculate the value of the expres...,```python\n# Define the expression components\...,```python\n# Calculate the value of the expres...,```python\nmixed_fraction = 2 + 5/14\nwhole_nu...,```python\n# Calculate the value of the expres...,NaN,8.5,8.5,8.5,8.5,8.5,8.5,True
99,5261,Найдите корень уравнения $\left(\dfrac{1}{2} \...,5,к основанию 2,Find the root of the equation $\left(\dfrac{1}...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,NaN,5.0,5.0,5.0,5.0,5.0,5,True

Treat the results to the right format.

In [245]:
for i in range(1, 6):
    code_ans_col = f'code_ans_{i}'
    train[code_ans_col] = pd.to_numeric(train[code_ans_col], errors='coerce')
    train[code_ans_col] = train[code_ans_col].apply(to_ints)

Decide on the final answer based on the majority of 5 runs

In [272]:
#majority code
import pandas as pd
import random
import statistics

count_errors = 0
FILLER_NUMBER = '9999'
code_ans_columns = [f'code_ans_{i}' for i in range(1, 6)]
train['final_answer'] = None

mode = train[code_ans_columns].dropna().mode(axis=1)
for i, row in train.iterrows():
    
    values = [val for val in row[code_ans_columns].values if str(val).lower() != 'nan']
    row_mode =  mode.iloc[i].mode()
    if row_mode.count() == 1:
        row_ans = row_mode.iloc[0]
    else:
        row_ans = random.choice([val for val in row_mode.values if str(val).lower() != 'nan'])
    if row_ans == 'nan':
        if len(values) > 0:
            row_ans = statistics.mode(values)
        else:    
            row_ans = FILLER_NUMBER
            count_errors += 1
            print(f"ERROR AT ROW NUMBER {i}")    

    
        # row_ans = FILLER_NUMBER
        # count_errors += 1
    train.at[i, 'final_answer'] = row_ans

print(f"NUMBER OF ERRORS: {count_errors}")

ERROR AT ROW NUMBER 5
ERROR AT ROW NUMBER 62
NUMBER OF ERRORS: 2

Check error to see all values were in fact nan

In [274]:
train.iloc[62]

problem_id                                                       10090
problem_text         В таблице три столбца и несколько строк. В каж...
answer                                                              22
hint                                             оценка в целых числах
translation          In the table, there are three columns and seve...
new_code_1           ```python\n# Sum of each column\nsum_column1 =...
new_code_2           ```python\n# Calculate the total sum of all th...
new_code_3           ```python\n# Defining the sum of each column\n...
new_code_4           ```python\n# Since the sum of each row is betw...
new_code_5           ```python\n# Initialize sum of columns and the...
new_code                                                           NaN
code_ans_1                                                         nan
code_ans_2                                                         nan
code_ans_3                                                         nan
code_ans_4                                                         nan
code_ans_5                                                         nan
final_answer                                                      9999
count_same_values                                                False
Name: 62, dtype: object

In [252]:
display(train)

,problem_id,problem_text,answer,hint,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,new_code,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,count_same_values
0,2374,Найдите значение выражения $\dfrac{17}{5} :\df...,1.6,Десятичную в обыкновенную,Find the value of the expression $\dfrac{17}{5...,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,NaN,1.6,1.6,1.6,1.6,1.6,1.6,True
1,4723,В компании из 30 человек 25 пользуются социаль...,24,Диаграмма Венна,"In a company of 30 people, 25 use the social n...",```python\n# Total number of people in the com...,```python\n# Total number of people\ntotal_peo...,```python\n# Total number of people in the com...,```python\n# Total number of people in the com...,```python\ntotal_people = 30\nuse_odnoklassnik...,NaN,24,24,24,24,24,24,True
2,7135,Число дорожно-транспортных происшествий (ДТП) ...,32,дробь в проценты,The number of road traffic accidents (RTAs) in...,```python\nwinter_accidents = 1 # Assuming 10...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_RTAs = 1 # Representing 100...,```python\n# Percentage of RTAs in summer comp...,NaN,32,32,32,32,32,32,True
3,5814,Найдите значение выражения $\dfrac{2\strut^{-5...,256,свойства степени,Find the value of the expression $\dfrac{2^{-5...,```python\nresult = (2 ** -5) * (2 ** 9) / (2 ...,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**-5 * 2**9) / 2**-4\n```,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**(-5)) * (2**9) / (2**(...,NaN,256,256,256,256,256,256,True
4,9237,Путешественник из Москвы хочет посетить четыре...,53,перебор,A traveler from Moscow wants to visit four cit...,```python\nfrom itertools import combinations\...,```python\nroutes = {\n 1: {'cities': {'Suz...,```python\nfrom itertools import combinations\...,"```python\nroutes = {\n 1: {""cities"": {""Suz...",```python\nfrom itertools import combinations\...,NaN,35,35,35,35,35,35,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7064,"В школе французский язык изучают 77~учащихся, ...",385,число по проценту,"In the school, 77 students study the French la...",```python\nstudents_studying_french = 77\nperc...,```python\n# Given number of students studying...,```python\n# Number of students studying Frenc...,```python\nfrench_students = 77\npercentage = ...,```python\n# Given data\nstudents_studying_fre...,NaN,385,385,385,385,385,9999,True
96,7097,Среди всех выпускников школы 10 человек собира...,25,число по проценту,"Among all the school graduates, 10 people are ...",```python\nnumber_of_technical_university_stud...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,NaN,25,25,25,25,25,9999,True
97,5448,"Вероятность того, что новая шариковая ручка пи...",0.79,1-Р,The probability that a new ballpoint pen write...,```python\n# Probability that a ballpoint pen ...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,NaN,0.79,0.79,0.79,0.79,0.79,9999,True
98,2293,Найдите значение выражения $2\dfrac{5}{14} +5+...,8.5,от обыкновенных дробей к десятичным,Find the value of the expression $2\frac{5}{14...,```python\n# Calculate the value of the expres...,```python\n# Define the expression components\...,```python\n# Calculate the value of the expres...,```python\nmixed_fraction = 2 + 5/14\nwhole_nu...,```python\n# Calculate the value of the expres...,NaN,8.5,8.5,8.5,8.5,8.5,9999,True
99,5261,Найдите корень уравнения $\left(\dfrac{1}{2} \...,5,к основанию 2,Find the root of the equation $\left(\dfrac{1}...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,NaN,5,5,5,5,5,9999,True

Check how many right answers we've had.

In [273]:
train['count_same_values'] = train.apply(lambda row: (row['final_answer'] is not None) and (row['final_answer'] in row['answer']), axis=1)

print(f"Number of rows where 'answer' and 'code_ans' have the same value: {train.count_same_values.sum()}")

Number of rows where 'answer' and 'code_ans' have the same value: 81

In [367]:
train[~train['count_same_values']]

4        35
5      9999
6      1106
18     3142
19     3412
20      152
24     3214
28     3700
32       15
37     3060
45        1
46     3142
53       23
59    42.43
62     9999
64      410
67     0.92
76       11
83      135
Name: final_answer, dtype: object

In [396]:
answer_cols = ['code_ans_1', 'code_ans_2', 'code_ans_3', 'code_ans_4', 'code_ans_5']
train_majority = add_strong_majority_column(train.copy(), answer_cols)
train_majority

,problem_id,problem_text,answer,hint,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,new_code,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,count_same_values,strong_majority
0,2374,Найдите значение выражения $\dfrac{17}{5} :\df...,1.6,Десятичную в обыкновенную,Find the value of the expression $\dfrac{17}{5...,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17/5) / (34/3) + 1.3\n```,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,```python\nresult = (17 / 5) / (34 / 3) + 1.3\...,NaN,1.6,1.6,1.6,1.6,1.6,1.6,True,True
1,4723,В компании из 30 человек 25 пользуются социаль...,24,Диаграмма Венна,"In a company of 30 people, 25 use the social n...",```python\n# Total number of people in the com...,```python\n# Total number of people\ntotal_peo...,```python\n# Total number of people in the com...,```python\n# Total number of people in the com...,```python\ntotal_people = 30\nuse_odnoklassnik...,NaN,24,24,24,24,24,24,True,True
2,7135,Число дорожно-транспортных происшествий (ДТП) ...,32,дробь в проценты,The number of road traffic accidents (RTAs) in...,```python\nwinter_accidents = 1 # Assuming 10...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_accidents = 100 # Assuming ...,```python\nwinter_RTAs = 1 # Representing 100...,```python\n# Percentage of RTAs in summer comp...,NaN,32,32,32,32,32,32,True,True
3,5814,Найдите значение выражения $\dfrac{2\strut^{-5...,256,свойства степени,Find the value of the expression $\dfrac{2^{-5...,```python\nresult = (2 ** -5) * (2 ** 9) / (2 ...,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**-5 * 2**9) / 2**-4\n```,```python\nresult = (2**(-5) * 2**9) / 2**(-4)...,```python\nresult = (2**(-5)) * (2**9) / (2**(...,NaN,256,256,256,256,256,256,True,True
4,9237,Путешественник из Москвы хочет посетить четыре...,53,перебор,A traveler from Moscow wants to visit four cit...,```python\nfrom itertools import combinations\...,```python\nroutes = {\n 1: {'cities': {'Suz...,```python\nfrom itertools import combinations\...,"```python\nroutes = {\n 1: {""cities"": {""Suz...",```python\nfrom itertools import combinations\...,NaN,35,35,35,35,35,35,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7064,"В школе французский язык изучают 77~учащихся, ...",385,число по проценту,"In the school, 77 students study the French la...",```python\nstudents_studying_french = 77\nperc...,```python\n# Given number of students studying...,```python\n# Number of students studying Frenc...,```python\nfrench_students = 77\npercentage = ...,```python\n# Given data\nstudents_studying_fre...,NaN,385,385,385,385,385,385,True,True
96,7097,Среди всех выпускников школы 10 человек собира...,25,число по проценту,"Among all the school graduates, 10 people are ...",```python\nnumber_of_technical_university_stud...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,```python\n# Given values\nnumber_of_technical...,NaN,25,25,25,25,25,25,True,True
97,5448,"Вероятность того, что новая шариковая ручка пи...",0.79,1-Р,The probability that a new ballpoint pen write...,```python\n# Probability that a ballpoint pen ...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,```python\n# Probability that a pen writes poo...,NaN,0.79,0.79,0.79,0.79,0.79,0.79,True,True
98,2293,Найдите значение выражения $2\dfrac{5}{14} +5+...,8.5,от обыкновенных дробей к десятичным,Find the value of the expression $2\frac{5}{14...,```python\n# Calculate the value of the expres...,```python\n# Define the expression components\...,```python\n# Calculate the value of the expres...,```python\nmixed_fraction = 2 + 5/14\nwhole_nu...,```python\n# Calculate the value of the expres...,NaN,8.5,8.5,8.5,8.5,8.5,8.5,True,True
99,5261,Найдите корень уравнения $\left(\dfrac{1}{2} \...,5,к основанию 2,Find the root of the equation $\left(\dfrac{1}...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import root_sca...,```python\nfrom scipy.optimize import fsolve\n...,```python\nfrom scipy.optimize import root_sca...,NaN,5,5,5,5,5,5,True,True

In [397]:
train_majority[~train_majority['strong_majority']][['answer', 'final_answer']]

          answer final_answer
6   [3267, 7744]         1106
19          4213         3412
20            76          152
24          1432         3214
36            31           31
50            12           12
51         12505        12505
59            48        42.43
64          2413          410
67             1         0.92
76            14           11
82          2.44         2.44
86            37           37

In [398]:
train_majority[['solution']] = None
with get_openai_callback() as cb:
    train_majority.loc[(train_majority['strong_majority'] == False), ['final_answer', 'solution']] = (
        train_majority.loc[(train_majority['strong_majority'] == False), 'translation'].progress_apply(get_answer_llm)
    )
    print(cb)

  0%|          | 0/13 [00:00<?, ?it/s]

100%|██████████| 13/13 [09:44<00:00, 44.94s/it]

Tokens Used: 19742
	Prompt Tokens: 12223
	Completion Tokens: 7519
Successful Requests: 26
Total Cost (USD): $0.34779999999999994

In [400]:
train_majority[~train_majority['strong_majority']]

,problem_id,problem_text,answer,hint,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,new_code,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,count_same_values,strong_majority,solution
6,9621,"Найдите четырёхзначное число, которое в 11 раз...","[3267, 7744]",куб числа делится на 11,Find a four-digit number that is 11 times smal...,```python\n# Find a four-digit number that is ...,"```python\nresult = None\nfor i in range(11, 1...",```python\n# Find a four-digit number that is ...,"```python\nresult = None\nfor i in range(10, 2...",```python\n# Find a four-digit number that is ...,NaN,3267,1106,121,nan,1106,10648,False,False,Let's decompose this problem into smaller step...
19,7643,Каждому из четырёх неравенств в левом столбце ...,4213,пропотенцировать и сопоставить,Each of the four inequalities in the left colu...,```python\n# Define the corresponding solution...,```python\nresult = 3412\n```,```python\n# Given inequalities and solutions\...,```python\n# Solving each inequality and match...,```python\nresult = 3412\n```,NaN,4312,3412,424113,4213,3412,4213,False,False,"To solve the problem, let's first understand e..."
20,10661,Из книги выпало несколько идущих подряд листов...,76,"выпали страницы с нечетной по четную, листов в...",Several consecutive pages fell out of a book. ...,```python\n# Given problem constraints\nlast_p...,```python\n# Initialize variables for the befo...,"```python\ndef find_missing_pages(before, afte...",```python\n# The last page number before the f...,"```python\ndef find_missing_pages(before, afte...",NaN,152,nan,152,nan,nan,199,False,False,Let's decompose the problem into smaller steps...
24,9665,Каждому из четырёх неравенств в левом столбце ...,1432,неравенства метод интервалов и сопоставить,Each of the four inequalities in the left colu...,```python\ndef solve_inequality(ineq):\n if...,```python\n# Define the inequalities and their...,```python\nresult = 1324\n```,```python\nresult = 3142\n```,```python\n# Define the inequalities as functi...,NaN,1234,1432,1324,3142,3214,3234,False,False,"To solve this problem, we'll need to analyze e..."
36,8417,По тарифному плану «Просто как день» компания ...,31,делить с остатком,"Under the ""Simple as Day"" tariff plan, the mob...",```python\ninitial_balance = 500\ndaily_deduct...,```python\ninitial_balance = 500\ndaily_deduct...,```python\ninitial_balance = 500\ndaily_deduct...,```python\ninitial_balance = 500\ndaily_deduct...,```python\ninitial_balance = 500\ndaily_deduct...,NaN,32,31,31,31,32,32,True,False,"To solve this problem, we can simply divide th..."
50,12130,На прилавке цветочного магазина стоят 3 вазы с...,12,формула включений - исключений,There are 3 vases with roses on the flower sho...,```python\n# Total number of roses\ntotal_rose...,```python\n# Assign the total number of roses ...,```python\n# Total roses\ntotal_roses = 40\n\n...,```python\n# Total number of roses\ntotal_rose...,"```python\n# Let x, y, z be the number of rose...",NaN,12,12,-12,nan,9,Cannot be determined,True,False,Let's decompose the problem into smaller parts...
51,8502,Система навигации самолёта информирует пассажи...,12505,футы в метры,The airplane's navigation system informs the p...,```python\n# Converting feet to cm and then to...,```python\naltitude_feet = 41000\nfeet_to_mete...,```python\n# Conversion constants\nfeet_to_met...,```python\naltitude_feet = 41000\nfeet_to_mete...,```python\nfeet_to_meters_conversion_factor = ...,NaN,12505,12505,12496.8,12505,12496.8,12505,True,False,To convert the flight altitude from feet to me...
59,10974,"В параллелограмме $ABCD$ известно, что $AB=6$,...",48,"прямоугольник, теорема пифагора, площадь","In parallelogram $ABCD$, it is known that $AB=...",```python\nimport math\n\n# Given sides and di...,```python\nimport math\n\n# Given sides\nAB = ...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given sides\nAB = ...,```python\nimport math\n\n# Given sides and di...,NaN,19.9,42.43,nan,24,57.24,36,False,False,"To find the area of a parallelogram, we can us..."
64,12340,Установите соответствие между функциями и хара...,2413,сопоставить,Match the functions with the characteristics o...,```python\nimport numpy as np\nfrom scipy.opti...,```python\nfrom scipy.optimize import minimize...,```python\nfrom scipy.optimize import minimize...,```python\nimport numpy as np\n\ndef derivativ...,```python\nfrom scipy.misc import derivative\n...,NaN,nan,2133,3113,410,2413,2413,False,False,To match each function with its characteristic...
67,13578,Два человека отправляются из одного дома на пр...,1,составить уравнение,Two people set out from the same house for a w...,```python\n# Speeds of two people\nspeed1 = 3....,```python\n# Speeds of the two people\nspeed_1...,```python\n# Speeds of the two walkers\nspeed1...,```python\n# Speed of the first person (in km/...,```python\nspeed_1 = 3.5 # in km/h\nspeed_2 =...,NaN,0.88,1.28,1.2,0.1,0.92,1,False,False,Let's break this problem down into smaller par...
76,10076,Прямоугольник разбит на четыре маленьких прямо...,14,р1+р3=р2+р4,A rectangle is divided into four smaller recta...,```python\n# Let's call the sides of the top l...,```python\n# Let's denote:\n# w1 and h1 as the...,```python\n# Define the perimeters of the thre...,"```python\n# Let a, b, c, d represent the side...",```python\n# Assuming the lengths of the two c...,NaN,14,11,8,18,11,Insufficient information,False,False,"To solve this problem, let's define the length..."
82,2299,Найдите значение выражения $\left(-3\right)+5\...,2.44,от обыкновенных дробей к десятичным,Find the value of the expression $\left(-3\rig...,```python\nresult = (-3) + 5*(2/5) + (1/25)\n```,```python\nresult = (-3) + 5 + (2/5) + (1/25)\...,```python\nresult = (-3) + 5*(2/5) + (1/25)\n```,```python\nresult = (-3) + 5 + (2/5) + (1/25)\...,```python\nresult = (-3) + 5 + (2/5) + (1/25)\...,NaN,-0.96,2.44,-0.96,2.44,2.44,2.44,True,False,"To solve the expression step by step, let's br..."
86,11900,В доме девятнадцать квартир с номерами от 1 до...,37,"оценка в целых числах, формула вкл и искл","In the building, there are nineteen apartments...",```python\nfrom itertools import product\n\n# ...,```python\n# Range for people in apartments fr...,```python\n# Define the possible number of peo...,```python\n# Set the minimum and maximum numbe...,```python\n# Define the possible number of peo...,NaN,nan,nan,37,29,37,29,True,False,"To solve this problem, let's break it down int..."

In [376]:
def extract_answers(row, chain_extract=chain_extract):
    problem_text = row['translation']  # Access the translation column from the DataFrame
    solution = row['solution']  # Access the solution column from the DataFrame
    answer = chain_extract.invoke({
        "problem_text": problem_text,
        "solution": solution,
    })
    return answer
with get_openai_callback() as cb:
    train_majority.loc[(train_majority['strong_majority'] == False), ['final_answer', 'solution']] = (
        train_majority.loc[(train_majority['strong_majority'] == False)].apply(
            lambda row: extract_answers(row), axis=1
        )
    )
    print(cb)

Tokens Used: 12755
	Prompt Tokens: 12727
	Completion Tokens: 28
Successful Requests: 13
Total Cost (USD): $0.12811

In [403]:
train_majority[~train_majority['strong_majority']][['answer', 'final_answer', 'count_same_values']]

          answer              final_answer  count_same_values
6   [3267, 7744]                     10648              False
19          4213                      4213               True
20            76                       199              False
24          1432                      3234              False
36            31                        32              False
50            12      Cannot be determined              False
51         12505                     12505               True
59            48                        36              False
64          2413                      2413               True
67             1                         1               True
76            14  Insufficient information              False
82          2.44                      2.44               True
86            37                        29              False

In [402]:
train_majority['count_same_values'] = train_majority.apply(lambda row: (row['final_answer'] is not None) and (row['final_answer'] in row['answer']), axis=1)

print(f"Number of rows where 'answer' and 'code_ans' have the same value: {train_majority.count_same_values.sum()}")

Number of rows where 'answer' and 'code_ans' have the same value: 81

In [340]:
print(train.loc[train['problem_id']==9665].translation.values[0])

Each of the four inequalities in the left column corresponds to one of the solutions in the right column. Establish the correspondence between the inequalities and their solutions.

\begin{center}
\renewcommand{\arraystretch}{2}
\begin{tabularx}{\textwidth}{XX}
\multicolumn{1}{C}{INEQUALITIES} & \multicolumn{1}{C}{SOLUTIONS} \\
A) $\left(x-2\right)^{2} \left(x-4\right)<0$ & 1) $x<2$ or $2<x<4$ \\
B) $\dfrac{\left(x-4\right)^{2} }{x-2} >0$ & 2) $x<2$ or $x>4$ \\
C) $\left(x-2\right)\left(x-4\right)<0$ & 3) $2<x<4$ \\
D) $\dfrac{x-2}{x-4} >0$ & 4) $2<x<4$ or $x>4$ \\
 \end{tabularx}
\end{center}

Fill in the table provided in the answer with the corresponding solution number under each letter.

\vspace{\baselineskip}\begin{tabular}{|*{4}{C|}} \hline A & B & C & D \\ \hline & & &  \\ \hline\end{tabular}

In [289]:
print(train.iloc[5].new_code_1)

```python
from itertools import permutations

# The possible grades Vovochka could get
grades = [2, 3, 4, 5]

# Function to find all the possible combinations of grades
def find_combinations(grades, product):
    for combo in permutations(grades, 5):
        if eval('*'.join(map(str, combo))) == product:
            return combo
    return None

# Find the combination of grades that gives the product 5575
combination = find_combinations(grades, 5575)

# Calculate the arithmetic mean and round it
if combination:
    average = sum(combination) / len(combination)
    result = round(average)
else:
    result = None
```

In [404]:
answer_cols = ['code_ans_1', 'code_ans_2', 'code_ans_3', 'code_ans_4', 'code_ans_5']
train_consistency = add_many_answers_column(train.copy(), answer_cols)
train_consistency[train_consistency['many_answers']]

,problem_id,problem_text,answer,hint,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,new_code,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,count_same_values,many_answers
6,9621,"Найдите четырёхзначное число, которое в 11 раз...","[3267, 7744]",куб числа делится на 11,Find a four-digit number that is 11 times smal...,```python\n# Find a four-digit number that is ...,"```python\nresult = None\nfor i in range(11, 1...",```python\n# Find a four-digit number that is ...,"```python\nresult = None\nfor i in range(10, 2...",```python\n# Find a four-digit number that is ...,NaN,3267,1106,121,nan,1106,1106,False,True
19,7643,Каждому из четырёх неравенств в левом столбце ...,4213,пропотенцировать и сопоставить,Each of the four inequalities in the left colu...,```python\n# Define the corresponding solution...,```python\nresult = 3412\n```,```python\n# Given inequalities and solutions\...,```python\n# Solving each inequality and match...,```python\nresult = 3412\n```,NaN,4312,3412,424113,4213,3412,3412,False,True
24,9665,Каждому из четырёх неравенств в левом столбце ...,1432,неравенства метод интервалов и сопоставить,Each of the four inequalities in the left colu...,```python\ndef solve_inequality(ineq):\n if...,```python\n# Define the inequalities and their...,```python\nresult = 1324\n```,```python\nresult = 3142\n```,```python\n# Define the inequalities as functi...,NaN,1234,1432,1324,3142,3214,3214,False,True
50,12130,На прилавке цветочного магазина стоят 3 вазы с...,12,формула включений - исключений,There are 3 vases with roses on the flower sho...,```python\n# Total number of roses\ntotal_rose...,```python\n# Assign the total number of roses ...,```python\n# Total roses\ntotal_roses = 40\n\n...,```python\n# Total number of roses\ntotal_rose...,"```python\n# Let x, y, z be the number of rose...",NaN,12,12,-12,nan,9,12,True,True
59,10974,"В параллелограмме $ABCD$ известно, что $AB=6$,...",48,"прямоугольник, теорема пифагора, площадь","In parallelogram $ABCD$, it is known that $AB=...",```python\nimport math\n\n# Given sides and di...,```python\nimport math\n\n# Given sides\nAB = ...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given sides\nAB = ...,```python\nimport math\n\n# Given sides and di...,NaN,19.9,42.43,nan,24,57.24,42.43,False,True
64,12340,Установите соответствие между функциями и хара...,2413,сопоставить,Match the functions with the characteristics o...,```python\nimport numpy as np\nfrom scipy.opti...,```python\nfrom scipy.optimize import minimize...,```python\nfrom scipy.optimize import minimize...,```python\nimport numpy as np\n\ndef derivativ...,```python\nfrom scipy.misc import derivative\n...,NaN,nan,2133,3113,410,2413,410,False,True
67,13578,Два человека отправляются из одного дома на пр...,1,составить уравнение,Two people set out from the same house for a w...,```python\n# Speeds of two people\nspeed1 = 3....,```python\n# Speeds of the two people\nspeed_1...,```python\n# Speeds of the two walkers\nspeed1...,```python\n# Speed of the first person (in km/...,```python\nspeed_1 = 3.5 # in km/h\nspeed_2 =...,NaN,0.88,1.28,1.2,0.1,0.92,0.92,False,True
76,10076,Прямоугольник разбит на четыре маленьких прямо...,14,р1+р3=р2+р4,A rectangle is divided into four smaller recta...,```python\n# Let's call the sides of the top l...,```python\n# Let's denote:\n# w1 and h1 as the...,```python\n# Define the perimeters of the thre...,"```python\n# Let a, b, c, d represent the side...",```python\n# Assuming the lengths of the two c...,NaN,14,11,8,18,11,11,False,True
86,11900,В доме девятнадцать квартир с номерами от 1 до...,37,"оценка в целых числах, формула вкл и искл","In the building, there are nineteen apartments...",```python\nfrom itertools import product\n\n# ...,```python\n# Range for people in apartments fr...,```python\n# Define the possible number of peo...,```python\n# Set the minimum and maximum numbe...,```python\n# Define the possible number of peo...,NaN,nan,nan,37,29,37,37,True,True

In [406]:
train_consistency[['solution']] = None
with get_openai_callback() as cb:
    train_consistency.loc[(train_consistency['many_answers'] == True), ['final_answer', 'solution']] = (
        train_consistency.loc[(train_consistency['many_answers'] == True), 'translation'].progress_apply(get_answer_llm)
    )
    print(cb)

  0%|          | 0/9 [00:00<?, ?it/s]

100%|██████████| 9/9 [06:51<00:00, 45.73s/it]

Tokens Used: 15044
	Prompt Tokens: 9378
	Completion Tokens: 5666
Successful Requests: 18
Total Cost (USD): $0.26375999999999994

In [408]:
train_consistency[train_consistency['many_answers']][['answer', 'final_answer']]

          answer final_answer
6   [3267, 7744]         1598
19          4213         4213
24          1432         3234
50            12           19
59            48         30√3
64          2413         2413
67             1       0.8799
76            14           14
86            37           37

Save train table.

In [410]:
train_consistency['count_same_values'] = train_consistency.apply(lambda row: (row['final_answer'] is not None) and (row['final_answer'] in row['answer']), axis=1)

print(f"Number of rows where 'answer' and 'code_ans' have the same value: {train_consistency.count_same_values.sum()}")

Number of rows where 'answer' and 'code_ans' have the same value: 83

In [283]:
train.to_csv('train_with_code_ans_majority_3.csv', index=False)

## run on the test set

In [138]:

test = pd.read_csv('test_with_translation.csv')

Generate python code to solve the problems using our model. Repeat 5 times and save each result.

In [140]:
from langchain.callbacks import get_openai_callback
from tqdm.auto import tqdm

tqdm.pandas()

with get_openai_callback() as cb:
    # Generate values for 'new_code_{i}' columns
    for i in range(1, 6):
        new_code_col = f'new_code_{i}'
        test[new_code_col] = None
        missing_values_mask = test[new_code_col].isna()
        print(f"Generating values for {new_code_col}...")
        
        test.loc[missing_values_mask, [new_code_col]] = (
            test.loc[missing_values_mask, 'translation'].progress_apply(
                lambda x: generate_code_llm(x, new_code_col)[1]
            )
        )
        
        # Debugging: Print the generated values
        print(test.loc[missing_values_mask, [new_code_col]])

    print(cb)

Generating values for new_code_1...

100%|██████████| 100/100 [08:39<00:00,  5.19s/it]

                                           new_code_1
0                  ```python\nresult = 4.8 * 2.5\n```
1   ```python\n# Conversion factor from feet to me...
2   ```python\nV = 70\nb = 5\nc = 3.5\nresult = V ...
3   ```python\n# Solve the equation (1/8)**(4 - x)...
4   ```python\nimport math\n\npeople = 25\ntent_ca...
..                                                ...
95  ```python\n# Initialize variables\ntours_data ...
96  ```python\n# Given values\na = 7\nc = 9\nS = 1...
97  ```python\n# Constants given by the problem\nw...
98  ```python\nwinter_rta = 1\nsummer_rta = 0.78 *...
99  ```python\nresult = (2.4 * 10**2) / (8 * 10**(...

[100 rows x 1 columns]
Generating values for new_code_2...

100%|██████████| 100/100 [09:07<00:00,  5.47s/it]

                                           new_code_2
0                  ```python\nresult = 4.8 * 2.5\n```
1   ```python\naltitude_feet = 37000\nfeet_to_mete...
2   ```python\nV = 70\nb = 5\nc = 3.5\n\nresult = ...
3   ```python\n# Solve the equation: (1/8)**(4 - x...
4   ```python\nimport math\n\npeople = 25\npeople_...
..                                                ...
95  ```python\n# Define the tours with their costs...
96  ```python\n# Given values\na = 7\nc = 9\nS = 1...
97  ```python\n# Constants\nBRICK_WEIGHT = 5  # We...
98  ```python\nwinter_to_summer_ratio = 0.78\ndecr...
99  ```python\nresult = (2.4 * 10**2) / (8 * 10**(...

[100 rows x 1 columns]
Generating values for new_code_3...

100%|██████████| 100/100 [08:37<00:00,  5.18s/it]

                                           new_code_3
0                  ```python\nresult = 4.8 * 2.5\n```
1   ```python\nfeet_to_meters_conversion_factor = ...
2   ```python\nV = 70\nb = 5\nc = 3.5\n\nresult = ...
3   ```python\nimport math\n\n# Given equation: (1...
4   ```python\nimport math\n\npeople = 25\ncapacit...
..                                                ...
95  ```python\n# Define the tours and their detail...
96  ```python\n# Given values\na = 7\nc = 9\nS = 1...
97  ```python\n# Constants\nBRICK_WEIGHT = 5  # in...
98  ```python\nwinter_accidents = 1  # Assume wint...
99  ```python\nresult = (2.4 * 10**2) / (8 * 10**(...

[100 rows x 1 columns]
Generating values for new_code_4...

100%|██████████| 100/100 [10:01<00:00,  6.02s/it]

                                           new_code_4
0                  ```python\nresult = 4.8 * 2.5\n```
1   ```python\n# Convert altitude from feet to met...
2   ```python\nV = 70\nb = 5\nc = 3.5\nresult = V ...
3   ```python\nimport math\n\n# Given equation is ...
4   ```python\nimport math\n\npeople_count = 25\nt...
..                                                ...
95  ```python\n# Tours information\ntours = {\n   ...
96  ```python\na = 7\nc = 9\nS = 14 * 5**0.5\nr = ...
97  ```python\n# Constants\nBRICK_WEIGHT = 5  # in...
98  ```python\n# Given data\nsummer_accidents_fact...
99  ```python\nresult = (2.4 * 10**2) / (8 * 10**(...

[100 rows x 1 columns]
Generating values for new_code_5...

100%|██████████| 100/100 [09:34<00:00,  5.74s/it]

                                           new_code_5
0                  ```python\nresult = 4.8 * 2.5\n```
1   ```python\n# Conversion constants\nfeet_to_met...
2   ```python\nV = 70\nb = 5\nc = 3.5\n\nresult = ...
3   ```python\nfrom math import log\n\n# Given equ...
4   ```python\nimport math\n\npeople = 25\ncapacit...
..                                                ...
95  ```python\ntours = {\n    1: {"attractions": {...
96  ```python\n# Given values\na = 7\nc = 9\nS = 1...
97  ```python\n# Constants for the problem\nTONE_T...
98  ```python\nwinter_accidents = 1  # Assuming 1 ...
99  ```python\nresult = (2.4 * 10**2) / (8 * 10**(...

[100 rows x 1 columns]
Tokens Used: 167943
	Prompt Tokens: 121575
	Completion Tokens: 46368
Successful Requests: 500
Total Cost (USD): $2.6067899999999984

Run the python code generated and save the answers.

In [142]:

for i in range(1, 6):
    new_code_col = f'new_code_{i}'
    code_ans_col = f'code_ans_{i}'
    test[code_ans_col] = None
    test.loc[test[code_ans_col].isna(), [code_ans_col]] = (
        test.loc[test[code_ans_col].isna(), new_code_col].progress_apply(run_python_code)
    )

100%|██████████| 100/100 [00:00<00:00, 6367.74it/s]
100%|██████████| 100/100 [00:00<00:00, 4546.47it/s]
100%|██████████| 100/100 [00:00<00:00, 4625.39it/s]

15

100%|██████████| 100/100 [00:00<00:00, 3603.82it/s]
100%|██████████| 100/100 [00:00<00:00, 5909.38it/s]

Treat the results to the right format.

In [145]:
for i in range(1, 6):
    code_ans_col = f'code_ans_{i}'
    test[code_ans_col] = pd.to_numeric(test[code_ans_col], errors='coerce')
    test[code_ans_col] = test[code_ans_col].apply(to_ints)

Decide on the final answer based on the majority of 5 runs

In [275]:
import pandas as pd
import random
import statistics

count_errors = 0
FILLER_NUMBER = '9999'
code_ans_columns = [f'code_ans_{i}' for i in range(1, 6)]
test['final_answer'] = None

mode = test[code_ans_columns].dropna().mode(axis=1)
for i, row in test.iterrows():
    
    values = [val for val in row[code_ans_columns].values if str(val).lower() != 'nan']
    row_mode =  mode.iloc[i].mode()
    if row_mode.count() == 1:
        row_ans = row_mode.iloc[0]
    else:
        row_ans = random.choice([val for val in row_mode.values if str(val).lower() != 'nan'])
    if row_ans == 'nan':
        if len(values) > 0:
            row_ans = statistics.mode(values)
        else:    
            row_ans = FILLER_NUMBER
            count_errors += 1
            print(f"ERROR AT ROW NUMBER {i}")    

    

    test.at[i, 'final_answer'] = row_ans

print(f"NUMBER OF ERRORS: {count_errors}")

NUMBER OF ERRORS: 0

Check for repeating errors in test

In [313]:
# Good code for majority >= 3
cols = ['code_ans_1', 'code_ans_2', 'code_ans_3', 'code_ans_4', 'code_ans_5']
for index, row in test.iterrows():
    mode_counts = row[cols].value_counts()
    strong_majority = mode_counts.max() >= 3 if not mode_counts.empty else False
    test.loc[index, 'strong_majority'] = strong_majority
test[~test['strong_majority']]

,problem_id,problem_text,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,is_mode_frequent,strong_majority
9,4720,"Повар испёк 40 печений, из них 10 печений он п...","The chef baked 40 cookies, of which 10 cookies...",```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given values\ntotal_cookies = 40\...,```python\n# Given data\ntotal_cookies = 40\nc...,```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given data\ntotal_cookies = 40\nc...,23,2,3,3,2,2,True,False
10,12122,Маша и Медведь съели 51 печенье и банку варень...,Masha and the Bear ate 51 cookies and a jar of...,```python\n# Let x be the amount of jam they b...,```python\n# Total cookies eaten\ntotal_cookie...,```python\n# Let's denote:\n# m - the rate at ...,```python\n# Let's denote the number of cookie...,```python\n# Let x be the amount of jam Masha ...,40.8,40.8,26,10,41,40.8,True,False
16,8307,Шоколадка стоит 20 рублей. В воскресенье в суп...,"A chocolate bar costs 20 rubles. On Sunday, th...",```python\n# Price of one chocolate bar\nprice...,```python\nchocolate_bar_price = 20\nspecial_o...,```python\nchocolate_price = 20\nspecial_offer...,```python\n# Price of one chocolate bar\nprice...,```python\n# price for one chocolate bar\npric...,9,9,12,10,10,10,True,False
42,10411,"Найдите шестизначное натуральное число, которо...",Find a six-digit natural number that is writte...,```python\n# A six-digit number divisible by 2...,```python\n# A six-digit number divisible by 2...,```python\n# Start with the smallest 6-digit n...,```python\n# Generate a six-digit number compo...,```python\n# A number is divisible by 24 if it...,222000,nan,200200,222000,222200,222000,True,False
47,11679,В параллелограмме $ABCD$ диагонали являются би...,"In parallelogram $ABCD$, the diagonals are the...",```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,46.69,32,32,16.49,nan,32,True,False
52,12092,В магазине квас на разлив можно купить в бутыл...,"In the store, draft kvass can be bought in bot...",```python\n# Price of 1-liter bottle\nprice_1l...,```python\n# Cost of 1-liter bottle\ncost_1l_b...,```python\n# Cost of 1-liter bottle\ncost_1_li...,```python\n# Cost of 1-liter bottle of kvass\n...,```python\n# Cost of 1-liter bottle of kvass\n...,76,nan,nan,60,60,60,True,False
70,12338,Установите соответствие между функциями и хара...,Establish a correspondence between the functio...,```python\nresult = 1324\n```,```python\ndef evaluate_characteristics():\n ...,```python\nresult = 1324\n```,```python\n# Define the functions\ndef f_A(x):...,```python\n# Define the functions as Python fu...,1324,1342,1324,nan,1342,1324,False,False

In [315]:
# Good code for many answers
test['many_answers'] = test[cols].apply(lambda row: len(row.unique()) > 2, axis=1)
test[test['many_answers']]

,problem_id,problem_text,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,is_mode_frequent,strong_majority,many_answers
9,4720,"Повар испёк 40 печений, из них 10 печений он п...","The chef baked 40 cookies, of which 10 cookies...",```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given values\ntotal_cookies = 40\...,```python\n# Given data\ntotal_cookies = 40\nc...,```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given data\ntotal_cookies = 40\nc...,23,2,3,3,2,2,True,False,True
10,12122,Маша и Медведь съели 51 печенье и банку варень...,Masha and the Bear ate 51 cookies and a jar of...,```python\n# Let x be the amount of jam they b...,```python\n# Total cookies eaten\ntotal_cookie...,```python\n# Let's denote:\n# m - the rate at ...,```python\n# Let's denote the number of cookie...,```python\n# Let x be the amount of jam Masha ...,40.8,40.8,26,10,41,40.8,True,False,True
16,8307,Шоколадка стоит 20 рублей. В воскресенье в суп...,"A chocolate bar costs 20 rubles. On Sunday, th...",```python\n# Price of one chocolate bar\nprice...,```python\nchocolate_bar_price = 20\nspecial_o...,```python\nchocolate_price = 20\nspecial_offer...,```python\n# Price of one chocolate bar\nprice...,```python\n# price for one chocolate bar\npric...,9,9,12,10,10,10,True,False,True
31,5126,Установите соответствие между величинами и их ...,Establish the correspondence between the quant...,```python\nresult = 2431\n```,```python\nresult = 2143\n```,```python\nresult = 2341\n```,```python\n# Given the quantities and their de...,```python\nresult = 2431\n```,2431,2143,2341,2431,2431,2431,False,True,True
42,10411,"Найдите шестизначное натуральное число, которо...",Find a six-digit natural number that is writte...,```python\n# A six-digit number divisible by 2...,```python\n# A six-digit number divisible by 2...,```python\n# Start with the smallest 6-digit n...,```python\n# Generate a six-digit number compo...,```python\n# A number is divisible by 24 if it...,222000,nan,200200,222000,222200,222000,True,False,True
47,11679,В параллелограмме $ABCD$ диагонали являются би...,"In parallelogram $ABCD$, the diagonals are the...",```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,46.69,32,32,16.49,nan,32,True,False,True
51,9695,Каждому из четырёх неравенств в левом столбце ...,Each of the four inequalities in the left colu...,```python\n# Solve each inequality and determi...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\nfrom scipy.opti...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\n\n# Define coef...,4312,nan,nan,nan,2211,4312,True,True,True
52,12092,В магазине квас на разлив можно купить в бутыл...,"In the store, draft kvass can be bought in bot...",```python\n# Price of 1-liter bottle\nprice_1l...,```python\n# Cost of 1-liter bottle\ncost_1l_b...,```python\n# Cost of 1-liter bottle\ncost_1_li...,```python\n# Cost of 1-liter bottle of kvass\n...,```python\n# Cost of 1-liter bottle of kvass\n...,76,nan,nan,60,60,60,True,False,True
70,12338,Установите соответствие между функциями и хара...,Establish a correspondence between the functio...,```python\nresult = 1324\n```,```python\ndef evaluate_characteristics():\n ...,```python\nresult = 1324\n```,```python\n# Define the functions\ndef f_A(x):...,```python\n# Define the functions as Python fu...,1324,1342,1324,nan,1342,1324,False,False,True
94,5164,Найдите корень уравнения $7-5\left(7-2x\right)...,Find the root of the equation $7-5(7-2x)=6x-4$.,```python\nresult = (7 - 5 * 7 + 4) / (5 + 6)\...,```python\n# Solve the equation: 7 - 5*(7 - 2*...,```python\n# Define the equation and solve for...,```python\n# Given equation: 7 - 5(7 - 2x) = 6...,```python\n# Solving the equation 7 - 5(7 - 2x...,-2.18,8,6,6,6,6,True,True,True
96,7934,Площадь треугольника можно вычислить по формул...,The area of a triangle can be calculated using...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\na = 7\nc = 9\nS = 14 * 5**0.5\nr = ...,```python\n# Given values\na = 7\nc = 9\nS = 1...,-9.13,12,nan,12,12,12,True,True,True

Save test results

In [278]:
# submission format

test_to_submit = test[['problem_id', 'final_answer']].copy()
test_to_submit.columns = ['problem_id', 'answer']

In [279]:
test_to_submit.to_csv('submission_try2_organized.csv', index=False)
test.to_csv('submission_try2_full_table.csv', index=False)

Try variants for test

In [411]:
def get_test_answer_llm(problem_text, chain_solution=CoT_solution, chain_extract=chain_extract):
    solution = chain_solution.invoke({
        "problem_text": problem_text
    })
    answer = chain_extract.invoke({
        "problem_text": problem_text,
        "solution": solution,
    })
    return pd.Series({'test_answer': answer, 'solution': solution})

In [412]:
test_majority = add_strong_majority_column(test.copy(), answer_cols)
test_majority[['solution', 'test_answer']] = None
with get_openai_callback() as cb:
    test_majority.loc[(test_majority['strong_majority'] == False), ['test_answer', 'solution']] = (
        test_majority.loc[(test_majority['strong_majority'] == False), 'translation'].progress_apply(get_test_answer_llm)
    )
    print(cb)

100%|██████████| 13/13 [07:09<00:00, 33.00s/it]

Tokens Used: 19119
	Prompt Tokens: 12198
	Completion Tokens: 6921
Successful Requests: 26
Total Cost (USD): $0.32961

In [413]:
test_majority[~test_majority['strong_majority']]

,problem_id,problem_text,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,is_mode_frequent,strong_majority,many_answers,solution,test_answer
9,4720,"Повар испёк 40 печений, из них 10 печений он п...","The chef baked 40 cookies, of which 10 cookies...",```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given values\ntotal_cookies = 40\...,```python\n# Given data\ntotal_cookies = 40\nc...,```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given data\ntotal_cookies = 40\nc...,23,2,3,3,2,2,True,False,True,"To solve this problem, let's analyze each stat...",23
10,12122,Маша и Медведь съели 51 печенье и банку варень...,Masha and the Bear ate 51 cookies and a jar of...,```python\n# Let x be the amount of jam they b...,```python\n# Total cookies eaten\ntotal_cookie...,```python\n# Let's denote:\n# m - the rate at ...,```python\n# Let's denote the number of cookie...,```python\n# Let x be the amount of jam Masha ...,40.8,40.8,26,10,41,40.8,True,False,True,"Let's decompose the problem into smaller, more...",34
16,8307,Шоколадка стоит 20 рублей. В воскресенье в суп...,"A chocolate bar costs 20 rubles. On Sunday, th...",```python\n# Price of one chocolate bar\nprice...,```python\nchocolate_bar_price = 20\nspecial_o...,```python\nchocolate_price = 20\nspecial_offer...,```python\n# Price of one chocolate bar\nprice...,```python\n# price for one chocolate bar\npric...,9,9,12,10,10,10,True,False,True,Let's break down the problem into smaller step...,9
23,12036,В магазине квас на разлив можно купить в бутыл...,"In the store, you can buy draft kvass in bottl...",```python\n# Prices of known volumes\nprice_1L...,```python\n# Cost of 1 liter kvass bottle\ncos...,```python\n# Given data\nprice_1L = 44\nprice_...,```python\n# Cost of 1 liter and 2 liter bottl...,```python\n# Given data\ncost_1l = 44 # cost ...,50,50,60,60,60,60,True,False,False,"To solve this problem, let's break it down int...",60
31,5126,Установите соответствие между величинами и их ...,Establish the correspondence between the quant...,```python\nresult = 2431\n```,```python\nresult = 2143\n```,```python\nresult = 2341\n```,```python\n# Given the quantities and their de...,```python\nresult = 2431\n```,2431,2143,2341,2431,2431,2431,False,False,True,"To solve this problem, we need to match each q...",2134
37,4849,Установите соответствие между величинами и их ...,Match the quantities with their possible value...,```python\n# Assigning the correct values to t...,```python\nresult = 2341\n```,```python\nresult = 2314\n```,```python\nresult = 2341\n```,```python\nresult = 2314\n```,2341,2341,2314,2341,2314,2341,False,False,False,To match the quantities with their possible va...,2341
42,10411,"Найдите шестизначное натуральное число, которо...",Find a six-digit natural number that is writte...,```python\n# A six-digit number divisible by 2...,```python\n# A six-digit number divisible by 2...,```python\n# Start with the smallest 6-digit n...,```python\n# Generate a six-digit number compo...,```python\n# A number is divisible by 24 if it...,222000,nan,200200,222000,222200,222000,True,False,True,"To solve this problem, let's break down the re...",202200
47,11679,В параллелограмме $ABCD$ диагонали являются би...,"In parallelogram $ABCD$, the diagonals are the...",```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,46.69,32,32,16.49,nan,32,True,False,True,The problem states that we have a parallelogra...,60
51,9695,Каждому из четырёх неравенств в левом столбце ...,Each of the four inequalities in the left colu...,```python\n# Solve each inequality and determi...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\nfrom scipy.opti...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\n\n# Define coef...,4312,nan,nan,nan,2211,4312,True,False,True,"To solve this problem, we need to factor each ...",4312
52,12092,В магазине квас на разлив можно купить в бутыл...,"In the store, draft kvass can be bought in bot...",```python\n# Price of 1-liter bottle\nprice_1l...,```python\n# Cost of 1-liter bottle\ncost_1l_b...,```python\n# Cost of 1-liter bottle\ncost_1_li...,```python\n# Cost of 1-liter bottle of kvass\n...,```python\n# Cost of 1-liter bottle of kvass\n...,76,nan,nan,60,60,60,True,False,True,"To solve this problem, we first need to determ...",60
70,12338,Установите соответствие между функциями и хара...,Establish a correspondence between the functio...,```python\nresult = 1324\n```,```python\ndef evaluate_characteristics():\n ...,```python\nresult = 1324\n```,```python\n# Define the functions\ndef f_A(x):...,```python\n# Define the functions as Python fu...,1324,1342,1324,nan,1342,1324,False,False,True,To establish a correspondence between the func...,1322
94,5164,Найдите корень уравнения $7-5\left(7-2x\right)...,Find the root of the equation $7-5(7-2x)=6x-4$.,```python\nresult = (7 - 5 * 7 + 4) / (5 + 6)\...,```python\n# Solve the equation: 7 - 5*(7 - 2*...,```python\n# Define the equation and solve for...,```python\n# Given equation: 7 - 5(7 - 2x) = 6...,```python\n# Solving the equation 7 - 5(7 - 2x...,-2.18,8,6,6,6,6,True,False,True,"Sure, let's break down the given equation step...",6
96,7934,Площадь треугольника можно вычислить по формул...,The area of a triangle can be calculated using...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\na = 7\nc = 9\nS = 14 * 5**0.5\nr = ...,```python\n# Given values\na = 7\nc = 9\nS = 1...,-9.13,12,nan,12,12,12,True,False,True,Let's start by breaking down the given problem...,46.608

In [414]:
test_majority.loc[test_majority['strong_majority'] == False, 'final_answer'] = test_majority.loc[test_majority['strong_majority'] == False, 'test_answer']
test_majority

,problem_id,problem_text,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,is_mode_frequent,strong_majority,many_answers,solution,test_answer
0,11919,"Найдите значение выражения $4,8\cdot 2,5$.",Find the value of the expression $4.8\cdot 2.5$.,```python\nresult = 4.8 * 2.5\n```,```python\nresult = 4.8 * 2.5\n```,```python\nresult = 4.8 * 2.5\n```,```python\nresult = 4.8 * 2.5\n```,```python\nresult = 4.8 * 2.5\n```,12,12,12,12,12,12,False,True,False,None,None
1,8513,Система навигации самолёта информирует пассажи...,The airplane's navigation system informs the p...,```python\n# Conversion factor from feet to me...,```python\naltitude_feet = 37000\nfeet_to_mete...,```python\nfeet_to_meters_conversion_factor = ...,```python\n# Convert altitude from feet to met...,```python\n# Conversion constants\nfeet_to_met...,11285,11285,11285,11285,11285,11285,True,True,False,None,None
2,7887,Объём прямоугольного параллелепипеда вычисляет...,The volume of a rectangular parallelepiped is ...,```python\nV = 70\nb = 5\nc = 3.5\nresult = V ...,```python\nV = 70\nb = 5\nc = 3.5\n\nresult = ...,```python\nV = 70\nb = 5\nc = 3.5\n\nresult = ...,```python\nV = 70\nb = 5\nc = 3.5\nresult = V ...,```python\nV = 70\nb = 5\nc = 3.5\n\nresult = ...,4,4,4,4,4,4,False,True,False,None,None
3,5272,Найдите корень уравнения: $\left(\dfrac{1}{8} ...,Find the root of the equation: $\left(\dfrac{1...,```python\n# Solve the equation (1/8)**(4 - x)...,```python\n# Solve the equation: (1/8)**(4 - x...,```python\nimport math\n\n# Given equation: (1...,```python\nimport math\n\n# Given equation is ...,```python\nfrom math import log\n\n# Given equ...,6,6,6,6,6,6,True,True,False,None,None
4,8295,В школе есть двухместные туристические палатки...,"In the school, there are two-person tents. Wha...",```python\nimport math\n\npeople = 25\ntent_ca...,```python\nimport math\n\npeople = 25\npeople_...,```python\nimport math\n\npeople = 25\ncapacit...,```python\nimport math\n\npeople_count = 25\nt...,```python\nimport math\n\npeople = 25\ncapacit...,13,13,13,13,13,13,True,True,False,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3519,Турист подбирает экскурсии. Сведения об экскур...,A tourist is selecting tours. Information abou...,```python\n# Initialize variables\ntours_data ...,```python\n# Define the tours with their costs...,```python\n# Define the tours and their detail...,```python\n# Tours information\ntours = {\n ...,"```python\ntours = {\n 1: {""attractions"": {...",25,134,25,25,25,25,True,True,False,None,None
96,7934,Площадь треугольника можно вычислить по формул...,The area of a triangle can be calculated using...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\na = 7\nc = 9\nS = 14 * 5**0.5\nr = ...,```python\n# Given values\na = 7\nc = 9\nS = 1...,-9.13,12,nan,12,12,46.608,True,False,True,Let's start by breaking down the given problem...,46.608
97,9390,Строительный подрядчик планирует купить 20~тон...,The construction contractor plans to buy 20 to...,```python\n# Constants given by the problem\nw...,```python\n# Constants\nBRICK_WEIGHT = 5 # We...,```python\n# Constants\nBRICK_WEIGHT = 5 # in...,```python\n# Constants\nBRICK_WEIGHT = 5 # in...,```python\n# Constants for the problem\nTONE_T...,217000,217000,217000,217000,217000,217000,True,True,False,None,None
98,7137,Число дорожно-транспортных происшествий (ДТП) ...,The number of road traffic accidents (RTAs) in...,```python\nwinter_rta = 1\nsummer_rta = 0.78 *...,```python\nwinter_to_summer_ratio = 0.78\ndecr...,```python\nwinter_accidents = 1 # Assume wint...,```python\n# Given data\nsummer_accidents_fact...,```python\nwinter_accidents = 1 # Assuming 1 ...,22,22,22,22,22,22,True,True,False,None,None
99,5914,"Найдите значение выражения $\dfrac{2,4\cdot 10...",Find the value of the expression $\dfrac{2.4 \...,```python\nresult = (2.4 * 10**2) / (8 * 10**(...,```python\nresult = (2.4 * 10**2) / (8 * 10**(...,```python\nresult = (2.4 * 10**2) / (8 * 10**(...,```python\nresult = (2.4 * 10**2) / (8 * 10**(...,```python\nresult = (2.4 * 10**2) / (8 * 10**(...,300,300,300,300,300,300,False,True,False,None,None

In [415]:
test_majority['final_answer'] = pd.to_numeric(test_majority['final_answer'], errors='coerce')
test_majority['final_answer'] = test_majority['final_answer'].apply(to_ints)

In [417]:
# submission format

majority_test_to_submit = test_majority[['problem_id', 'final_answer']].copy()
majority_test_to_submit.columns = ['problem_id', 'answer']

In [418]:
majority_test_to_submit.to_csv('submission_try2_majority_organized.csv', index=False)
test_majority.to_csv('submission_try2_majority_full_table.csv', index=False)

In [420]:
test_consistency = add_many_answers_column(test.copy(), answer_cols)
test_consistency[['solution', 'test_answer']] = None
with get_openai_callback() as cb:
    test_consistency.loc[(test_consistency['many_answers'] == True), ['test_answer', 'solution']] = (
        test_consistency.loc[(test_consistency['many_answers'] == True), 'translation'].progress_apply(get_test_answer_llm)
    )
    print(cb)

  0%|          | 0/11 [00:00<?, ?it/s]

100%|██████████| 11/11 [04:52<00:00, 26.62s/it]

Tokens Used: 13851
	Prompt Tokens: 9115
	Completion Tokens: 4736
Successful Requests: 22
Total Cost (USD): $0.23322999999999997

In [421]:
test_consistency[test_consistency['many_answers']]

,problem_id,problem_text,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,is_mode_frequent,strong_majority,many_answers,solution,test_answer
9,4720,"Повар испёк 40 печений, из них 10 печений он п...","The chef baked 40 cookies, of which 10 cookies...",```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given values\ntotal_cookies = 40\...,```python\n# Given data\ntotal_cookies = 40\nc...,```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given data\ntotal_cookies = 40\nc...,23,2,3,3,2,2,True,False,True,"To solve the problem, let's examine each state...",3
10,12122,Маша и Медведь съели 51 печенье и банку варень...,Masha and the Bear ate 51 cookies and a jar of...,```python\n# Let x be the amount of jam they b...,```python\n# Total cookies eaten\ntotal_cookie...,```python\n# Let's denote:\n# m - the rate at ...,```python\n# Let's denote the number of cookie...,```python\n# Let x be the amount of jam Masha ...,40.8,40.8,26,10,41,40.8,True,False,True,"To solve this problem, we need to break it dow...",48
16,8307,Шоколадка стоит 20 рублей. В воскресенье в суп...,"A chocolate bar costs 20 rubles. On Sunday, th...",```python\n# Price of one chocolate bar\nprice...,```python\nchocolate_bar_price = 20\nspecial_o...,```python\nchocolate_price = 20\nspecial_offer...,```python\n# Price of one chocolate bar\nprice...,```python\n# price for one chocolate bar\npric...,9,9,12,10,10,10,True,False,True,Let's decompose the problem into smaller steps...,9
31,5126,Установите соответствие между величинами и их ...,Establish the correspondence between the quant...,```python\nresult = 2431\n```,```python\nresult = 2143\n```,```python\nresult = 2341\n```,```python\n# Given the quantities and their de...,```python\nresult = 2431\n```,2431,2143,2341,2431,2431,2431,False,True,True,"To solve this problem, let's consider the typi...",2134
42,10411,"Найдите шестизначное натуральное число, которо...",Find a six-digit natural number that is writte...,```python\n# A six-digit number divisible by 2...,```python\n# A six-digit number divisible by 2...,```python\n# Start with the smallest 6-digit n...,```python\n# Generate a six-digit number compo...,```python\n# A number is divisible by 24 if it...,222000,nan,200200,222000,222200,222000,True,False,True,"To solve this problem, let's break it down int...",202020
47,11679,В параллелограмме $ABCD$ диагонали являются би...,"In parallelogram $ABCD$, the diagonals are the...",```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,46.69,32,32,16.49,nan,32,True,False,True,"In a parallelogram, if the diagonals bisect th...",32
51,9695,Каждому из четырёх неравенств в левом столбце ...,Each of the four inequalities in the left colu...,```python\n# Solve each inequality and determi...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\nfrom scipy.opti...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\n\n# Define coef...,4312,nan,nan,nan,2211,4312,True,True,True,To establish the correspondence between the in...,4312
52,12092,В магазине квас на разлив можно купить в бутыл...,"In the store, draft kvass can be bought in bot...",```python\n# Price of 1-liter bottle\nprice_1l...,```python\n# Cost of 1-liter bottle\ncost_1l_b...,```python\n# Cost of 1-liter bottle\ncost_1_li...,```python\n# Cost of 1-liter bottle of kvass\n...,```python\n# Cost of 1-liter bottle of kvass\n...,76,nan,nan,60,60,60,True,False,True,"To solve this problem, we need to determine th...",60
70,12338,Установите соответствие между функциями и хара...,Establish a correspondence between the functio...,```python\nresult = 1324\n```,```python\ndef evaluate_characteristics():\n ...,```python\nresult = 1324\n```,```python\n# Define the functions\ndef f_A(x):...,```python\n# Define the functions as Python fu...,1324,1342,1324,nan,1342,1324,False,False,True,To establish a correspondence between the func...,1324
94,5164,Найдите корень уравнения $7-5\left(7-2x\right)...,Find the root of the equation $7-5(7-2x)=6x-4$.,```python\nresult = (7 - 5 * 7 + 4) / (5 + 6)\...,```python\n# Solve the equation: 7 - 5*(7 - 2*...,```python\n# Define the equation and solve for...,```python\n# Given equation: 7 - 5(7 - 2x) = 6...,```python\n# Solving the equation 7 - 5(7 - 2x...,-2.18,8,6,6,6,6,True,True,True,Let's solve the given equation step by step:\n...,6
96,7934,Площадь треугольника можно вычислить по формул...,The area of a triangle can be calculated using...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\na = 7\nc = 9\nS = 14 * 5**0.5\nr = ...,```python\n# Given values\na = 7\nc = 9\nS = 1...,-9.13,12,nan,12,12,12,True,True,True,"To solve this problem, we need to find the val...",12

In [422]:
test_consistency.loc[test_consistency['many_answers'] == True, 'final_answer'] = test_consistency.loc[test_consistency['many_answers'] == True, 'test_answer']
test_consistency[test_consistency['many_answers']]

,problem_id,problem_text,translation,new_code_1,new_code_2,new_code_3,new_code_4,new_code_5,code_ans_1,code_ans_2,code_ans_3,code_ans_4,code_ans_5,final_answer,is_mode_frequent,strong_majority,many_answers,solution,test_answer
9,4720,"Повар испёк 40 печений, из них 10 печений он п...","The chef baked 40 cookies, of which 10 cookies...",```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given values\ntotal_cookies = 40\...,```python\n# Given data\ntotal_cookies = 40\nc...,```python\ntotal_cookies = 40\ncinnamon_cookie...,```python\n# Given data\ntotal_cookies = 40\nc...,23,2,3,3,2,3,True,False,True,"To solve the problem, let's examine each state...",3
10,12122,Маша и Медведь съели 51 печенье и банку варень...,Masha and the Bear ate 51 cookies and a jar of...,```python\n# Let x be the amount of jam they b...,```python\n# Total cookies eaten\ntotal_cookie...,```python\n# Let's denote:\n# m - the rate at ...,```python\n# Let's denote the number of cookie...,```python\n# Let x be the amount of jam Masha ...,40.8,40.8,26,10,41,48,True,False,True,"To solve this problem, we need to break it dow...",48
16,8307,Шоколадка стоит 20 рублей. В воскресенье в суп...,"A chocolate bar costs 20 rubles. On Sunday, th...",```python\n# Price of one chocolate bar\nprice...,```python\nchocolate_bar_price = 20\nspecial_o...,```python\nchocolate_price = 20\nspecial_offer...,```python\n# Price of one chocolate bar\nprice...,```python\n# price for one chocolate bar\npric...,9,9,12,10,10,9,True,False,True,Let's decompose the problem into smaller steps...,9
31,5126,Установите соответствие между величинами и их ...,Establish the correspondence between the quant...,```python\nresult = 2431\n```,```python\nresult = 2143\n```,```python\nresult = 2341\n```,```python\n# Given the quantities and their de...,```python\nresult = 2431\n```,2431,2143,2341,2431,2431,2134,False,True,True,"To solve this problem, let's consider the typi...",2134
42,10411,"Найдите шестизначное натуральное число, которо...",Find a six-digit natural number that is writte...,```python\n# A six-digit number divisible by 2...,```python\n# A six-digit number divisible by 2...,```python\n# Start with the smallest 6-digit n...,```python\n# Generate a six-digit number compo...,```python\n# A number is divisible by 24 if it...,222000,nan,200200,222000,222200,202020,True,False,True,"To solve this problem, let's break it down int...",202020
47,11679,В параллелограмме $ABCD$ диагонали являются би...,"In parallelogram $ABCD$, the diagonals are the...",```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,```python\nimport math\n\n# Given values\nAB =...,46.69,32,32,16.49,nan,32,True,False,True,"In a parallelogram, if the diagonals bisect th...",32
51,9695,Каждому из четырёх неравенств в левом столбце ...,Each of the four inequalities in the left colu...,```python\n# Solve each inequality and determi...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\nfrom scipy.opti...,```python\nimport numpy as np\n\n# Define the ...,```python\nimport numpy as np\n\n# Define coef...,4312,nan,nan,nan,2211,4312,True,True,True,To establish the correspondence between the in...,4312
52,12092,В магазине квас на разлив можно купить в бутыл...,"In the store, draft kvass can be bought in bot...",```python\n# Price of 1-liter bottle\nprice_1l...,```python\n# Cost of 1-liter bottle\ncost_1l_b...,```python\n# Cost of 1-liter bottle\ncost_1_li...,```python\n# Cost of 1-liter bottle of kvass\n...,```python\n# Cost of 1-liter bottle of kvass\n...,76,nan,nan,60,60,60,True,False,True,"To solve this problem, we need to determine th...",60
70,12338,Установите соответствие между функциями и хара...,Establish a correspondence between the functio...,```python\nresult = 1324\n```,```python\ndef evaluate_characteristics():\n ...,```python\nresult = 1324\n```,```python\n# Define the functions\ndef f_A(x):...,```python\n# Define the functions as Python fu...,1324,1342,1324,nan,1342,1324,False,False,True,To establish a correspondence between the func...,1324
94,5164,Найдите корень уравнения $7-5\left(7-2x\right)...,Find the root of the equation $7-5(7-2x)=6x-4$.,```python\nresult = (7 - 5 * 7 + 4) / (5 + 6)\...,```python\n# Solve the equation: 7 - 5*(7 - 2*...,```python\n# Define the equation and solve for...,```python\n# Given equation: 7 - 5(7 - 2x) = 6...,```python\n# Solving the equation 7 - 5(7 - 2x...,-2.18,8,6,6,6,6,True,True,True,Let's solve the given equation step by step:\n...,6
96,7934,Площадь треугольника можно вычислить по формул...,The area of a triangle can be calculated using...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\n# Given values\na = 7\nc = 9\nS = 1...,```python\na = 7\nc = 9\nS = 14 * 5**0.5\nr = ...,```python\n# Given values\na = 7\nc = 9\nS = 1...,-9.13,12,nan,12,12,12,True,True,True,"To solve this problem, we need to find the val...",12

In [423]:
test_consistency['final_answer'] = pd.to_numeric(test_consistency['final_answer'], errors='coerce')
test_consistency['final_answer'] = test_consistency['final_answer'].apply(to_ints)

In [424]:
# submission format

consistency_test_to_submit = test_consistency[['problem_id', 'final_answer']].copy()
consistency_test_to_submit.columns = ['problem_id', 'answer']

In [425]:
consistency_test_to_submit.to_csv('submission_try2_consistency_organized.csv', index=False)
test_consistency.to_csv('submission_try2_consistency_full_table.csv', index=False)